<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.KioskApp">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_gdk_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_gdk_round"
        android:screenOrientation="userPortrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name="com.KioskApp.OrderListAllActivity" />
        <activity android:name="com.KioskApp.UsageSetActivity" />
        <activity android:name="com.KioskApp.UsageComponentActivity" />
        <activity android:name="com.KioskApp.UsageSNPSetActivity" />
        <activity android:name="com.KioskApp.UsageSNPComActivity" />
        <activity android:name="com.KioskApp.SpecialOrderSNPComActivity" />
        <activity android:name="com.KioskApp.SpecialOrderSNPSetActivity" />
        <activity android:name="com.KioskApp.SpecialOrderComponentActivity" />
        <activity android:name="com.KioskApp.SpecialOrderSetActivity" />
        <activity android:name="com.KioskApp.CenterActivity">

        </activity>
        <activity android:name="com.KioskApp.LoginKioskActivity" />
        <activity android:name="com.KioskApp.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".MyServiceManager"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>


    </application>
</manifest>